*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
 }

 body{
    background: #CCFCCB;
}

.container_a{
    max-width: 35%;
    height: 100%;
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-color:black;
    background-color: green;
    color: white;



    /*
    width: 350px;
    color: peru;
    border-style: solid;
    border-color:white;
    */

}

.a{  
    display:inline;
}

.text{
    display:inline;
    padding-top: 2000px;
    padding-left: 20px;
}