*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
 }

 body{
    background: #CCFCCB;
}

.container_a{
    margin: 20px 25px 20px 125px;
    width: 450px;
    border-radius: 10px;
    border: 1px solid #3C760C;
    background: #F1FFFA;
    padding: 20px;
    float: left;
    flex-direction : row;
}

.container_a:hover{
    box-shadow: 0px 8px 32px #3C760C;
    transition: all .3s;
}


.a{  
    display:inline;
    text-decoration: none;
}

.advertisements{
    padding: 150px 10% 20px;
}

.Advertencia{
    color: white;
    background-color: red;
    display:inline;
    padding: 2rem 0;
}
.text{
    display:inline;
    padding: 2rem 0;
}

.pay{
    font-size: 16px;
    width: 80px;
    height: 40px;
    background:  #F1FFFA;
    border: 1px solid #F1FFFA;
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

.pay:hover{
    background: #40c440;
    color: white;
    transition:all .5s;
}

.pay2{
    font-size: 16px;
    width: 80px;
    height: 40px;
    text-decoration: none;
    color: black;
    padding: 10px;
}
.pay2:hover{
    background: #40c440;
    color: white;
    transition:all .5s;
}

.buttowon{
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 150px;
}

.buttowon:hover{
    background: #40c440;
    transition:all .5s;
}