


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #CCFCCB;
}


.amortization{
    width: 80%;
    margin-top: 8.5em;
    margin-left: 10%;
    border-collapse: collapse;
    border-color: #89aa89;
    border-radius: 10px;

}
tr:nth-child(even){ background-color: rgba(0, 0, 0, 0.05); }
tr:hover{
    background: rgba(0, 0, 0, 0.075);
    box-shadow: 0px 8px 32px rgb(114, 114, 114);
    transition: all .1s;
}


.info{
    background-color: #0fb42b;
    color: white;
}

th{
    text-align: inherit;
}

.amortization>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
}

