@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap');

:root{
    --cremamenta: #F1FFFA;
    --verdete: #CCFCCB;
    --verdesalvia: #3C760C;
    --negro: #090909;
    --ocre: #64554E;
    --verde: #0fb42b;
    --fuente: Arial, Helvetica, sans-serif;
    --superverde: #4bf745;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html{
    box-sizing: border-box;
}

*,*::after, *::before{
    box-sizing: inherit;
}

body {
    *font-family: 'Open Sans', sans-serif;
    *background-color: var(--negro);
    background: linear-gradient(to right, var(--negro), purple);

}

.container_a {
    margin-top: 2em;
    margin-bottom: 9.5em;
    margin-left: 10%;
    width: 35%;
    height: 380px;
    border-radius: 10px;
    border: 4px solid var(--verde);
    background: linear-gradient(to right, var(--verde), var(--superverde));
    padding: 1% 1.2% 0% 1%;
    color:var(--negro);
    font-weight: bold;
    float: left;
    flex-direction: row;
    text-align: left;
    text-size-adjust: initial;
    transition: all .3s;
}


.container_a:hover {
    margin-top: 2.0em;
    box-shadow: 0px 8px 32px var(--verde);
    background-color: var(--verdete);
}


.a {
    display: inline;
    text-decoration: none;
}

.advertisements {
    align-items: center;
    margin-top: 10%;
    margin-left: 35%;
    height: 120px;
    width: 500px;
    background: linear-gradient(to right, purple, var(--verde));
    border: 5px solid var(--negro);
    border-radius: 20px;
    text-align: center;
    transition: all .3s;
    /*
    padding: 8em 8em 1em;
    */
}

.bad {
    font-family: 'Courier New', Courier, monospace;
    margin-left: -15px;
    background-color: red;
    color: white;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 10px;
}

.alert {
    margin: 25px;
    text-align: center;
    float: left;
    flex-direction: row;
}

.text {
    display: inline;
    padding: 2rem 0;
}

.cadabra {
    padding-top: 2em;
    *margin-left: -.9rem;
    float: left;
    flex-direction: row;
    text-align: left;
    text-size-adjust: initial;
    display: flex;
    justify-content: space-between;
}

button{
    margin-left: 20px;
    background-color: var(--verde);
}

.cadabra_2 {
    padding-top: 2.02em;
    margin-right: -1.2rem;
    text-align: end;
}

ul, ol{
    list-style: none;
}

.boton li a{
    border: 0px solid;
    border-radius: 10px;
    background-color: var(--verdesalvia);
    color: #ffffff;
    text-decoration: none;
    padding: 11px 15px;
    margin-left: 20px;
    display: block;
}

.boton li a:hover{
    border: 0px solid;
    border-radius: 10px;
    background-color: #40c440;
}

.pr{
    border: 0px solid;
    border-radius: 0px 0px 6px 6px;
    background-color: var(--verde);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}


.boton > li{
    float: left;
}
 
.boton li ul{
display: none;
position: absolute;
min-width: 350px;
}
 
.boton li:hover > ul{

    display: block;
}

.cantidad {
    width: 30%;
    border-radius: 5px;
    border: 0px solid #40c440;
    padding: 5px;
}

.pay {
    border-radius: 10px 0px 6px 0px;
    padding: 10px 15px;
    font-size: 100%;
    background: #3C760C;
    border: 0px solid;
    color: white;
    text-decoration: none;
}

.pay:hover {
    background: #40c440;
    color: white;
    transition: all .5s;
}

.buttowon { 
    margin-left: 3rem;
    margin-right: -3em;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 15px;
    font-size: 100%;
    background: #40c440;
    border: 0px solid;
    color: white;
    text-decoration:solid;
}

.buttowon:hover {
    background: #3C760C;
    color: white;
    transition: all .5s;
}