*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    *background-color: #CCFCCB;
}

/*HEADER*/
 
header{
    width: 100%;
    height: 80px;
    margin-top: 30px;
    border-radius: 1%;
    position: absolute;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    *background: #F1FFFA;
}

.container-menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 200px;
    height: 80px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #F1FFFA;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
}

.menu ul li a:hover{
    color: #F1FFFA;
    background: linear-gradient(to right, #090909, #0fb42b);
    border-radius: 10px;
    transition: all 1s;
    padding: 6px;
}

/*COVER*/

.container-cover{
    max-width: 100%;
    height: 800px;
    background-image: url(../images/background-main-2.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    *background: #F1FFFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-cover .text{
    max-width: 400px;
}

.container-cover .text h1{
    font-size: 36px;
    font-weight: 600;
    color: #3C760C;
    font-family: Arial, Helvetica, sans-serif;
}

.container-cover .text p{
    font-size: 15px;
    margin-top: 40px;
    color: #3C760C;
    font-family:Arial, Helvetica, sans-serif;
}

.container-cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    color: #F1FFFA;
    background: linear-gradient(to right, #090909, #0fb42b);
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #3C760C;
}

.container-cover .text input:hover{
    box-shadow: 1px 1px 30px -6px #3C760C;
    transition: all 300ms;
}

.container-cover .svg img{
    width: 400px;
    height: 400px;
    margin-right: 50px;
    margin-bottom: 90px;
    animation: move-vector 2s linear infinite;
}

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
    
}